@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=The+Nautigal:wght@700&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

ul, li {list-style-type: none;}

a {text-decoration: none; color: #fff;}

.logo-title {
  width: 100%;
  padding: 40px 2%;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.logo-title h1 {
  font-family: 'The Nautigal', 'cursive';
  font-size: 50px;
}

p {
  word-wrap: wrap;
}